<form action="{{ url_for('actualizar', id=cita.id, _external=True) }}" method="POST">
    <div class="form-group">
        <label for="txt_nombre_mascota_a">Nombre de la mascota</label>
        <input class="form-control" type="text" name="txt_nombre_mascota_a" id="txt_nombre_mascota_a" value="{{ cita.nombre_mascota }}" placeholder="Escribe el nombre de la mascota">
        
        <label for="txt_tipo_animal_a">Tipo de animal</label>
        <input class="form-control" type="text" name="txt_tipo_animal_a" id="txt_tipo_animal_a" value="{{ cita.tipo_animal }}" placeholder="Ingresa el tipo de animal">
        
        <label for="txt_fecha_cita_a">Fecha de la cita (Formato: YYYY-MM-DD HH:MM:SS)</label>
        <input class="form-control" type="text" name="txt_fecha_cita_a" id="txt_fecha_cita_a" value="{{ cita.fecha_cita }}" placeholder="Escribe la fecha de la cita">
        
        <label for="txt_observaciones_a">Observaciones</label>
        <input class="form-control" type="text" name="txt_observaciones_a" id="txt_observaciones_a" value="{{ cita.observaciones }}" placeholder="Observaciones">
        
        <input type="hidden" name="id_a" value="{{ cita.id }}">
    </div>

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-info float-right ues-info">Actualizar</button>
    </div>
</form>
